<form [formGroup]="searchForm" (submit)="getData()" >
    <div class="d-flex ">
        <input class="form-control me-3" type="text" formControlName="name" placeholder="introduce el nombre a buscar">
        <button [disabled]="!searchForm.valid" type="submit" class="btn btn-danger">
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </div>
      <p
      *ngIf="searchForm.get('name')?.touched  && searchForm.get('name')?.hasError('minlength')"
      class="text-danger"
      >
      Obligatorio más de 5 caracteres </p>
      <p
      *ngIf="searchForm.get('name')?.touched  && searchForm.get('name')?.hasError('required')"
      class="text-danger"
      >
      Campo Obligatorio </p>
      <p
      *ngIf="searchForm.get('name')?.touched  && searchForm.get('name')?.hasError('validatorName')"
      class="text-danger"
      >
      No puedes buscar a Mario Giron </p>

</form>
